.containerr{
    justify-content: center;
    margin-left: 14vw!important;
    margin-top: 15vh;
    color: black;
    font-weight: 700;
    font-size: 3vh;
    letter-spacing: 0.24px;
}
.fullmain{
    min-height: 100vh;
}

.cards-m{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
}
.fill{
    height: auto;
}

.mobHead{
    display: none;
    color: #109cf1;
    text-align: center;
    font-size: 4vh;
}

.mainbut{
    font-size: 2.5vh;
    text-align: center;
}


@media (max-width: 1038px) {
    .mobHead{
        display: block!important;
        color: #109cf1;
        text-align: center;
        font-size: 4vh;    
    }
    .cards-m{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: auto;
    }    
    .containerr{
        margin-left: 1vw!important;
    }
    .search{
        width: 45%!important;;
    }
    .mainbut{
        font-size: 1.5vh!important;
        width: 16vw!important;
        padding-top: 1vh!important;
        padding-bottom: 1vh!important;
        align-items: center;
        text-align: center;
        margin-right: 0vh;
        color: beige;
    }
    
}

.search{
    width:60%;
    background-color: aliceblue;
    margin: 2vh;
    margin-right: 1vh;
    border-radius: 1vh;
    display: flex;
    align-items: center;
}

.cards-i:focus{
    box-shadow: 0 0 20px rgba(0, 128, 255, 0.5); 
    border: none;
}
.search-contain{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.cards-i{
    width: 99%;
    font-size: 3vh;
    border: none;
    background-color: transparent;
    padding: 1vh;
}
.cards-i:focus{
    border: none;
    outline: none;
}
.icon-search{
    font-size: 3vh;
    padding: 1vh;
    margin-right: 1vh;
}


@media (max-width: 1038px) {
    .cards-i{
        font-size: 2vh;
    }
}

.nodat{
    color: rgb(216, 36, 36);
    text-align: center;
    font-weight: 500;
    margin-left: 20vw;
    width: 100%;
    font-size: 3vh;
}

.anndat{
    margin-left: 0vw;
}
@media (max-width: 1038px) {
    .nodat{
        text-align: center;
        margin-left: 0vw;
    }
}