.containerr{
    justify-content: center;
    margin-left: 18vw;
    margin-top: 15vh;
    color: black;
    font-weight: 700;
    font-size: 3vh;
    letter-spacing: 0.24px;
}
.fullmain{
    min-height: 100vh;
}
.butf{
    cursor: pointer;
}
.fill{
    height: auto;
}

.mobHead{
    display: none;
    color: #109cf1;
    text-align: center;
    font-size: 4vh;
}


@media (max-width: 1038px) {
    .mobHead{
        display: block!important;
        color: #109cf1;
        text-align: center;
        font-size: 4vh;    
    }
    .cards{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: auto;
        grid-gap: 1rem;
        margin-left: 0vh;
    }    
    .containerr{
        margin-left: 4vw;
    } 
}
