.row-1{
    display: flex;
    flex-direction: row;

}
.rowz,.rowz1{
    display: flex;
    flex-direction: row;
}
.time-imp,.date-imp,.venue-imp,.type-imp{
    padding-left: 2vh;
    padding-right: 2vh;
    display: flex;
    flex-direction: column;
    width: 45%;
}
#sub_grp{
    margin-top: -13px;
}
.date-imp{
    padding-left: 0vh;
}

.datechoice{
    width: 20vh;
}

.datechoice:focus{
    outline-style: none;
    border-width: 2px;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5); 
    background-color: transparent;
}

.harsh{
    background-color: rgb(36, 36, 36);
}


@media (max-width: 1038px) {
    .row-1{
        display: flex;
        flex-direction: column;
    }
    .venue-imp{
        padding-left: 0vh;
    }
    .bbt{
        width: 27vw!important;
    }
    .tyty{
        width: 31vw!important;
    }
    
}

@media (max-width: 820px) {
    .datechoice{
        width: 30vw;
    }
    .time-imp{
        padding-right:0vh;
    }
}
