.containerr-d{
    justify-content: center;
    margin-left: 18vw;
    margin-top: 15vh;
    color: black;
    font-weight: 700;
    font-size: 3vh;
    letter-spacing: 0.24px;
    overflow-x: hidden;
    padding-bottom: 5vh;
}
.fullmain{
    min-height: 100vh;
}

.fill{
    height: auto;
}

.mobHead{
    display: none;
    color: #109cf1;
    text-align: center;
    font-size: 4vh;
}

.cards{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 2.5vh;
    margin-left: 2vh;
    flex: 1;
}
@media (max-width: 438px) {
/* @media (max-width: 1038px) { */
    .mobHead{
        display: block!important;
        color: #109cf1;
        text-align: center;
        font-size: 4vh;    
    }   
    .containerr-d{
        margin-left: 0vw;
    } 
}

@media (max-width: 938px) {
    /* @media (max-width: 1038px) { */
        .mobHead{
            display: block!important;
            color: #109cf1;
            text-align: center;
            font-size: 4vh;    
        }   
        .containerr-d{
            margin-left: 0vw;
        } 
    }

.harshlove{
    width: 10vh;
    text-align: center;
    margin-right: 12vh;
    margin-left: auto;
}
