.justlikethat{
    border-bottom: solid;
    border-width: 1px;
    border-color: #59FF30;
    margin-bottom: 2vh;
}

.datechoice{
    padding: 1vh;
    background-color:transparent ;
    border: solid;
    border-width: 2px;
    border-color: #59FF30;
    border-radius: 1vh;
    margin-bottom: 1vh;
    color: white;

}

.an-details{
    background-color: transparent;
    border: solid;
    border-color: #59FF30;
    border-width: 1px;
    width: 94%;
    height: 8vh;
    padding: 2vh;

    color: #FFF;
    font-family: Jost;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.00938rem;
    border-radius: 1.5vh;
}
.an-details:focus{
    outline-style: none;
    border-width: 2px;
    box-shadow: none;
    background-color: transparent;
}

.sec-grp {
    padding: 0.5rem 1rem;
    background-color: transparent;
    border: 2px solid #59FF30;
    border-radius: 1vh;
    color: white;
    cursor: pointer;
}

.sec-grp.active {
    background-color: #59FF30;
    color: white;
}

.sec-grp:not(:last-child) {
    margin-right: 1rem;
}